body {
    background: #181818;
    color: white;
}

.btns {
    width: 75%;
}

.sort {
    padding-bottom: 5%;
}

p {
    text-align: left;
}

.collapsible-content {
    display: none;
    overflow: hidden;
}

.slider{
    width: 50%;
}